<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  {% block head %}
  {% endblock %}
</head>
<body>

  <nav class="navbar">
    <ul>
      <li><a href="{{ '/' }}">首页</a></li>
      <li><a href="{{ url_for('qa.public_question') }}">提问</a></li>
      <li>   |   </li>
        {% if user %}
            <li>{{user.username}}</li>
            <li><a href="{{ url_for('auth.logout') }}">退出登录</a></li>
        {% else %}
        <li><a href="{{ url_for('auth.login') }}">登录</a></li>
        <li><a href="{{ url_for('auth.register') }}">注册</a></li>
        {% endif %}
    </ul>
  </nav>

  <div class="content">
      {% block body %}{% endblock %}
  </div>

</body>
</html>
